<!doctype html>
<html data-ng-app="afep">
  <head>
    <style>
      .container {
        margin-top:25px;
      }
    </style>
  <head>
  <body>
    <h1>Advanced Front-End Problem</h1>
    <a href="#/home">Home</a> - 
    <a href="#/courses">Courses</a> - 
    <a href="#/about">About</a>
    <div class="container" ng-view></ng-view>
    <script type="text/ng-template" id="home">
      Hello, and welcome to a basic course search tool.
    </script>
    <script type="text/ng-template" id="courses">
      <h2>Courses</h2>
      Search: <input type="text" data-ng-model="query"/>
      Term: <select ng-model="_filter.terms">
        <option value="">All Terms</option>
        <option value="2011_spring">Spring 2011</option>
        <option value="2011_fall">Fall 2011</option>
        <option value="2012_spring">Spring 2012</option>
        <option value="2012_fall">Fall 2012</option>
        <option value="2013_spring">Spring 2013</option>
        <option value="2013_fall">Fall 2013</option>
        <option value="2014_spring">Spring 2014</option>
        <option value="2014_fall">Fall 2014</option>
        <option value="2015_spring">Spring 2015</option>
        <option value="2015_fall">Fall 2015</option>
      </select>
      Order By: <select ng-model="order">
        <option value="">Default</option>
        <option value="title">Title</option>
        <option value="class">Class</option>
      </select>
      <div data-ng-controller="CourseController">
        <ul>
          <li data-ng-repeat="c in courses | filter:query:strict | filter:_filter:strict | orderBy:order">
            <table>
              <tr>
                <td><b>{{c.name}} - {{c.title}}</b></td>
              </tr>
              <tr>
                <td>{{c.description}}</td>
              </tr>
              <tr>
                <td><span data-ng-repeat="t in c.terms | filter:_filter.terms"><a href="#/courses/:id/:term">{{t}}</a> </span></td>
              </tr>
            </table>
          </li>
        </ul>
      </div>
    </script>
    <script type="text/ng-template" id="about">
      <ol>
        <li>
          Leverage
          <ul>
            <li>Angular.js SPA-framework</li>
            <li>Embedded views</li>
            <li>Quick development</li>
            <li>Client-side filtering</li>
          </ul>
        </li>
        <li>
          Data Acquisition
          <ul>
            <li>
              JSONP Method: CORS Mitigation
            </li>
            <li>
              Extra Padding: Wrapped in a factory method
            </li>
          </ul>
        </li>
        <li>
          Data Representation
          <ul>
            <li>
              JS Entity Classes: Verbose
            </li>
          </ul>
        </li>
      </ol>
    </script>
    <script type="text/ng-template" id="course-detail">
      
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.js"></script>
    <!-- Entity Classes -->
    <script>
      function Term (tid,t) {
        this.tid = tid;
        this.term = t;
      }
      function Course (cid,c) {
        this.cid = cid;
        this.class = c.course_name;
        this.title = c.course_title;
        this.description = c.course_desc;
        this.name = c.course_name;
        this.terms = [];
        for (t in c.terms) {
          this.terms.push(t);
        }
      }
    </script>
    <!-- Configuration -->
    <script>
      var afep = angular.module('afep',['ngRoute']);
      afep.config(['$routeProvider',function($routeProvider){
        $routeProvider.when('/home',{
          templateUrl: 'home'
        });
        $routeProvider.when('/courses',{
          templateUrl: 'courses'
        });
        $routeProvider.when('/courses/:id/:term',{
          templateUrl: 'course-detail'
        });
        $routeProvider.when('/about',{
          templateUrl: 'about'
        });
        $routeProvider.otherwise({redirectTo:'/home'});
      }]);
    </script>
    <!-- JSONP Method -->
    <script src="./courses.js"></script>
    <script>
      afep.controller('CourseController',function($scope,courseFactory){
        $scope.courses = courseFactory.getCourses();
      });
    </script>
  </body>
</html>
